*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    
}
body{
    background-image:url(../../vistas/img/Logo.jpg);
    background-position: center;
    background-size: cover;
}

header div{
    display: flex;
    align-items: center;
}

.navegacion{
	width: 1000px;
	margin: 30px auto;
    padding-left: 160px;
	background: #fff;
}

.navegacion ul{
	list-style: none;
}


.menu > li{
	position: relative;
	display: inline-block;
}

.menu > li > a{
	display: block;
	padding: 15px 20px;
	color: #353535;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li a:hover{
	color: #CE7D35;
	transition: all .3s;
}

li a{
    font-size: 18px;
}

/* Submenu*/

.submenu{
	position: absolute;
	background: #333333;
	width: 120%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}

.submenu li a{
	display: block;
	padding: 15px;
	color: #fff;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}

.caja-encabezado-nav img{
    width: 100px;
    height: 100px;
    object-fit: contain;
}
a{
    text-decoration: none;
}
.caja-encabezado{
    width: 100%;
    background: #f3f3f3;

}
.caja-encabezado-nav{
    width: 90%;
    height: 150px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f3f3f3;
}
.caja-encabezado h1{
    color: #150097;

}
.botones a{
    font-weight: bold;
    padding: 20px;
    border: 2px solid #150097;
    border-radius: 8px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 1s ease;

}
.inicio{
    margin-right: 10px;
}
.botones a:hover{
    
    background: #150097;
    color:#f3f3f3;
    
}
/*.registro{
    background: #150097;
    color: #f3f3f3;
}*/
.caja-cuerpo{
    width: 100%;
    height: calc(100vh - 150px);
    margin: 0px auto;
    display: flex;
    align-items: center;
    
    
}

.informacion{
    width:100%;
    text-align: center;
    color: #f3f3f3;
}
.informacion h2{
    font-size: 100px;
    text-transform: uppercase;
    text-shadow: 0px 0px 2px black;
    
}
.informacion p{
    width: 60%;
    margin: 0px auto;
    text-align: center;
    font-size: 20px;

}