*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background:url(../../vistas/img/Cafeteria.jpeg);
    background-position: center;
    background-size: cover;
}


.logo{
position: absolute;
height: 90px;
width: 120px;

}

.icon{
color: white;
margin-right: 10px;
}

nav{
background-color: #004a87;
padding-left: 80px;
padding-top: 40px;
height: 90px;

}

.menu{
    display: inline;
    padding-left: 100px;
    padding-bottom: 30px;
}

a{
    color: white;
}


form{
    width: 40%;
    height: auto;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
    background:#f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 2px 3px 20px;
    opacity: .7;
}

.title-form h2{
    text-align: start;
}

.info{
    width: 80%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.info input {
    padding: 20px;
    border-radius: 7px;
    border: none;
}

.iniciar  {
    padding: 20px 150px;
    background: #004a87;
    border-radius: 50px;
    color: #f3f3f3;
    text-decoration: none;
    font-size: 20px;
    margin-bottom: 10px;
}

.opciones {
    display: flex;
    flex-direction: column;
    align-items: center;
}